body {
   padding: 6 6 6 6;
}
  
@media (max-width: 980px) {
  body {
      padding-top: 0;
    }	
}

/*Do the responsive stuff*/
@media (min-width: 768px) { 
	.form-inline .form-control {
		 width: 250px; 
	}
}
/* input { width: 250px; }
input:focus { width: 350px; } */