body {
   padding: 6 6 6 6;
}
  
@media (max-width: 980px) {
  body {
      padding: 6 6 6 6;
    }	
}

/*Do the responsive stuff*/
@media (min-width: 768px) { 
	.form-inline .form-control {
		 width: 250px; 
	}
}
/* input { width: 250px; }
input:focus { width: 350px; } */


.display-text {
    font-size: 18px;
    margin-left: 6px;
    cursor:pointer;
    position: absolute;
    top: 50%;
    left: 50%;
}

.app-modal-window .modal-dialog {

}
